.mat-icon {
  height: 100px !important;
  width: 100px !important;
  font-size: 48px !important;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.mat-btn-width {
  width: 100px !important;
  height: 100px !important;
  padding: 10px !important;
  border-radius: 50px !important;
  word-wrap: break-word;
}
